@page
@model UniClub.Razor.Pages.ClubTasks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Club Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubTask.TaskName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubTask.TaskName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubTask.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubTask.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubTask.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubTask.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubTask.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubTask.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ClubTask.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
